@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 class="lead">Wardrobe App</h1>

    <div><p class="lead">A clothes chooser for those that like to choose clothes!<button class="btn btn-primary btn-lg" onclick="SwapDivsWithClick('orig', 'swap');">Or NOT!</button></p></div>
    <div class="choosers" id="orig">
        <div class="row"><p><a href="~/Tops" class="btn btn-primary btn-lg">Choose a Top &raquo;</a></p></div>
        <div class="row">
            <p><a href="~/Bottoms" class="btn btn-primary btn-lg">Choose a Bottom &raquo;</a></p></div>
        <div class="row">
            <p><a href="~/Shoes" class="btn btn-primary btn-lg">Choose Shoes &raquo;</a></p></div>
        <div class="row">
            <p><a href="~/Accessories" class="btn btn-primary btn-lg">Choose Accessories &raquo;</a></p></div>
        <div class="row">
            <p><button class="btn btn-primary btn-lg" onclick="Redirect();">Shop For Clothes to add &raquo;</button></p></div>
        <div class="row">
            <p class="lead">Or Make an entire outfit and save it for the future!</p></div>
        </div>
    <div class="choosers" id="swap" style="display: none">
        
    </div>
    <div>
        <p><a href="~/Outfits" class="btn btn-primary btn-lg">Make an Outfit! &raquo;</a></p>
    </div>
