@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="lead">Wardrobe App</h1>
    <p class="lead">A clothes chooser for those that like to choose clothes!</p>
    <p><a href="http://localhost:56914/Tops" class="btn btn-primary btn-lg">Choose a Top &raquo;</a></p>
    <p><a href="http://localhost:56914/Bottoms" class="btn btn-primary btn-lg">Choose a Bottom &raquo;</a></p>
    <p><a href="http://localhost:56914/Shoes" class="btn btn-primary btn-lg">Choose Shoes &raquo;</a></p>
    <p><a href="http://localhost:56914/Accessories" class="btn btn-primary btn-lg">Choose Accessories &raquo;</a></p>
    <p class="lead">Or Make an entire outfit and save it for the future!</p>
    <p><a href="http://localhost:56914/Outfits" class="btn btn-primary btn-lg">Make an Outfit! &raquo;</a></p>
</div>

